{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hard Level</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <header>
        <div class="top-menu">
            <div class="logo"></div>
            <div class="user-info">
                <span><a href="{% url 'easy' %}"><button>Easy</button></a></span>
                <span><a href="{% url 'medium' %}"><button>Medium</button></a></span>
                <a href="{% url 'logout' %}"><button>Logout</button></a>
            </div>
        </div>
    </header>
    <h1>Welcome to the Hard Level</h1>
    
    <div class="container2">
        <form id="guessForm" method="post">
            {% csrf_token %}
            <label for="guessNumber">Guess a number between 1 and 200:</label>
            <input type="number" id="guessNumber" name="guessNumber" min="1" max="200" required>
            <button type="submit" name="submit">Submit</button>
            <h3>
                {% if attempts_left is not none %}
                    <p>Attempts Left: {{ attempts_left }}</p>
                {% endif %} 
            </h3>
            <h3>
                {% if previous_guesses %}
                    <p>Previous Guesses: {{ previous_guesses|join:", " }}</p>
                {% endif %}
            </h3>
            {% if text %}
                <h3>{{ text }}</h3>
            {% endif %}
        </form>
    </div>

    <footer>
        <p>&copy; 2024 Number Guessing Game. All rights reserved.</p>
    </footer>
</body>
</html>